body {
    background-color: #028090;
    font-family: Verdana;
}

.auth-wrap .main {
    background-color: #FFFFFF;
    width: 400px;
    height: 600px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.auth-wrap .header {
    text-align: center;
    font-family: Verdana;
    font-size: 50px ;
    color: #f0f3bd;
}



.auth-wrap .form {
    padding-top: 40px;
    color: #f0f3bd;
    font-family: Verdana;
    font-weight: bold;
    font-size: 23px;
}


.auth-wrap .emT {
    text-align: center;
    color: #05668d;
}

.auth-wrap .psT {
    text-align: center;
    color: #05668d; 
}

.auth-wrap .em {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: Verdana;
}

.auth-wrap form.inp-wrp {
    padding-top: 40px;
}

.auth-wrap .ps {
        width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: Verdana;
}


.auth-wrap .em:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) ;
    
}

.auth-wrap .btn {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #f0f3bd, #f0f3bd);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Verdana;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}



.auth-wrap .btn {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #05668d;
    text-decoration: none
}

.auth-wrap .newUsr {
    text-align: center;
    font-family: Verdana;
    font-size: 30px ;
    color: #f0f3bd
    ;
    cursor: pointer;
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}